{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cumple Panambi</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  
  <link href= " {% static 'tarjeta/img/pambi-favicon.jpg' %}" rel="icon">
  <link href=" {% static 'tarjeta/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'tarjeta/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'tarjeta/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'tarjeta/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'tarjeta/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'tarjeta/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'tarjeta/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'tarjeta/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'tarjeta/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="150">
        <div >
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="1250">
            <div class="col-xl-6 col-lg-8">
              <h1>Panambí</h1>
            </div>
          </div>
          <img src="{% static 'tarjeta/img/pambi1.png' %}" class="img-fluid" alt="">
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="1250">
            <div class=" col-xl-8 col-lg-8">
              <h3> Cumple 1 Año </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container mt-5 mb-5" data-aos="fade-up">

        <div class="row">
          <div class=" col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'tarjeta/img/pambi2.png' %}" class="img-fluid rounded-circle shadow-lg "  alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content d-flex align-items-center" data-aos="fade-right" data-aos-delay="1200">
            <div class="text-center flex-column align-items-center content border-custom p-4">
              <h3 class="shadow-text">¡Festejemos Juntos!</h3>
              
              <p>
                Porque la felicidad es mayor cuando es compartida, te invitamos a celebrar la existencia de Pambi juntos, el <b>viernes 29 de marzo</b> de <b>16 a 19 hs</b> en nuestra casita.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          
          <h3> Venite con tu sillón y tu matecito!!!</h3>
          <a class="cta-btn" href="#contact">Como Llegar</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters justify-content-center ">
          <div class="image1 col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>

          <div class="image2 col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-left" data-aos-delay="300"></div>
          
        </div>

        <div class="row no-gutters justify-content-center " >
          <div class="image3 col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-up" data-aos-delay="1000"></div>

          
          
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="300">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <h3>¡Te esperamos!</h3>
                <h1>Panambí - Iru - Pablo - Mechi</h1>
                
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">               
                <h1>Confirma tu asistencia por WhatsApp</h1>
                
              </div>
            </div><!-- End testimonial item -->


        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Mi Casita</h2>
          <p>Ubicación</p>
        </div>

        <div>
          
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d337.0623447493982!2d-60.43111558025325!3d-31.7623289730002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b44fe1eebbde9f%3A0x76c319d4a9af65d1!2sQuetzal%20Amoblamientos!5e1!3m2!1ses!2sar!4v1709410060727!5m2!1ses!2sar"  frameborder="0" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Dirección:</h4>
                <p>Isla Soledad 1046, Colonia Avellaneda, Entre Ríos</p>
              </div>

            </div>

          </div>

          

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>CLAWEB</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by <a href="https://celazaro.pythonanywhere.com/">CLAWEB</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'tarjeta/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'tarjeta/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'tarjeta/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'tarjeta/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'tarjeta/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'tarjeta/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'tarjeta/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'tarjeta/js/main.js' %}"></script>

</body>

</html>